/* General body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #0c0c0c;
  overflow-x: hidden;
}

/* Header */
.header {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 10;
}

/* Logo */
#netflix-logo {
  margin-left: 1.5%;
  width: 150px;
}

/* Search Centered */
.center-container {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 25vw;
  z-index: 5;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input#searchInput {
  width: 100%;
  height: 38px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

input#searchInput::placeholder {
  color: black;
}

/* Search Result box */
#searchResults {
  width: 100%;
  max-height: 460px;
  overflow-y: auto;
  position: absolute;
  top: 43px;
  visibility: hidden;
  background-color: #000;
  border-radius: 5px;
  z-index: 20;
}

#searchResults::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
  background-color: lightgrey;
}

#searchResults::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

#searchResults::-webkit-scrollbar-thumb:hover {
  background-color: #444444;
}

/* Top Right Buttons */
.right-buttons {
  position: absolute;
  right: 30px;
  top: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 10;
}

.btnText {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 5px 10px;
}

.watchList-Btn {
  width: 120px;
  height: 40px;
  padding: 5px 10px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 6px;
  background-color: rgb(201, 22, 22);
  transition: 0.3s;
  font-family: "Poppins", sans-serif; 
}

.watchList-Btn:hover {
  color: rgb(201, 22, 22);
  background-color: black;
  border: 1px solid rgb(201, 22, 22);
  cursor: pointer;
}

/* Watchlist result */
.watchListBtn {
  position: absolute;
  top: 30%;
  right: 10px;
  background-color: rgb(201, 22, 22);
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.watchListBtn:hover {
  background-color: black;
  border: 1px solid rgb(201, 22, 22);
  color: rgb(201, 22, 22);
}

/* Search result movie list */
.movie-list {
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  background: #000;
  display: flex;
  gap: 20px;
  align-items: center;
}

.movie-list:hover {
  background-color: #181818;
  cursor: pointer;
}

/* Thumbnail */
.search-item-thumbnail {
  width: 10%;
}

.search-item-thumbnail img {
  width: 100%;
  height: 100%;
}

/* Movie info */
.search-item-info {
  width: 48%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search-item-info h3 {
  font-size: 16px;
  margin: 0;
}

.search-item-info p {
  margin: 0;
  font-size: 14px;
}

/* Banner */
#banner-container {
  width: 100vw;
  height: 72.5vh;
  margin-bottom: 7px;
  position: relative;
}

#banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

#details-container {
  position: absolute;
  bottom: 18%;
  left: 3%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 1;
}

#banner-title {
  color: white;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: -10px;
}

#button-container {
  display: flex;
  gap: 15px;
}

#more-info,
#play-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7px 20px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

#play-button {
  background-color: #fff;
  color: #000;
}

#play-button:hover {
  background-color: rgba(109, 109, 110, 0.9);
}

#more-info {
  background-color: rgba(109, 109, 110, 0.7);
  color: #fff;
}

#more-info:hover {
  background-color: rgb(109, 109, 110);
}

#info-icon {
  width: 18px;
  height: 18px;
}

#empty {
  width: 100vw;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
  position: absolute;
  bottom: 0;
}

/* Section titles */
.movie-section h1 {
  color: white;
  font-size: 1.5rem;
  margin-left: 15px;
}

/* Movie list box */
.movies-box {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: scroll;
}

.movies-box::-webkit-scrollbar {
  height: 1px;
}

.movies-box div {
  width: 290px;
  height: 170px;
  cursor: pointer;
  margin: 20px 0;
  transition: all 0.5s ease-in-out;
}

.movies-box div img {
  width: 290px;
  height: 170px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.movies-box div img:hover {
  transform: scale(1.1);
  border-radius: 5px;
}

/* Navigation buttons */
.movie-container {
  position: relative;
}

.navigation-button {
  width: 60px;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-size: 2.5rem;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 9.3%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.movie-container:hover .navigation-button {
  opacity: 0.8;
  z-index: 1;
}

.previous {
  left: 15px;
}

.next {
  right: 0%;
}

/* Netflix Originals */
.netflix-container div {
  width: 250px;
  height: 340px;
}

.netflix-container div img {
  width: 250px;
  height: 340px;
}

.netflix-previous,
.netflix-next {
  width: 80px;
  height: 340px;
  top: 5.3%;
}
